<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To Get information About all the Blood Banks</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    body{
      font-family: Open Sans;
    }
  </style>
</head>
<body>
	<h1 class="text-center">All India Blood Bank Information</h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>State</th>
        <th>District</th>
        <th>Hospital</th>
        <th>Contact No</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
    {% for each in data %}
      <tr>
        <th>{{ each.id }}</th>
        <th>{{ each.State }}</th>
        <th>{{ each.District }}</th>
        <th>{{ each.Hospital_name }}</th>
        <th>{{ each.Contact }}</th>
        <th>{{ each.Address }}</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>